<div class="container myWidth">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">{{ title }}</h2>
            <hr />
            <form [formGroup]="myForm" (ngSubmit)="_formSubmit()">
                <!-- EMAIL ADDRESS FIELD -->
                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="Enter email" />
                    <div *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched" class="text-danger">
                        <small *ngIf="myForm.get('email')?.errors.required">Email address is required.</small>
                        <small *ngIf="myForm.get('email')?.errors.hamza">Email must be a valid email address.</small>
                    </div>
                </div>
                <!-- PASSWORD FIELD -->
                <div class="form-group">
                    <input type="password" formControlName="pwd" class="form-control" placeholder="Enter password" />
                    <div *ngIf="myForm.controls.pwd.invalid && myForm.controls.pwd.touched" class="text-danger">
                        <small *ngIf="myForm.controls.pwd.errors.required">Password is required.</small>
                        <small *ngIf="myForm.controls.pwd.errors.minlength">Password must be at least 6 characters.</small>
                    </div>
                </div>
                <!-- CONFIRM PASSWORD FIELD -->
                <div class="form-group">
                    <input type="password" formControlName="cnfPwd" class="form-control" placeholder="Enter confirm password" />
                    <div *ngIf="myForm.controls.cnfPwd.invalid && myForm.controls.cnfPwd.touched" class="text-danger">
                        <small *ngIf="myForm.controls.cnfPwd.errors.required">Confirm password is required.</small>
                        <small *ngIf="myForm.controls.cnfPwd.errors.mustMatch">Password & Confirm Password must match.</small>
                    </div>
                </div>
                <!-- REGISTER BUTTON -->
                <div class="form-group">
                    <input type="submit" value="Register" [disabled]="myForm.invalid" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>